# Set up the client project

### Scenario
Little Lemon needs you to help them to build a Booking System so that their guests can book tables with the restaurant. Use your knowledge of database clients to help Little Lemon complete this task.

### Prerequisites
To complete this task, you need to create a folder and then open a command prompt at that location. Next, to start writing code to create the booking system, you first need to ensure that you have Python installed, a working IDE and configured a driver that you can use to interact with your database.

In [ ]:
# Install the mysql-connector-python library
!pip install mysql-connector-python

In [ ]:
# Import the connector under the alias connector:
import mysql.connector as connector

### Scenario 
Little Lemon have started building a functional booking system from which they can manage their customer data. An integral part of a well-functioning system is the ability to query data. Little Lemon need you to help them add the search functionality required to query their data.

### Task 1

In the previous exercise you created a Python environment. In the first task of this exercise, you are tasked with extending the environment to connect with your database and interact with the data it holds. 

Your first step is to import the connector module, enter your user details and connect with the database (Hint: you can use an alias when importing the module).

This gives you access to all the functionality available from the connector API, which can be accessed through the variable named connector (or whichever alias you choose). 

To connect with your database, you can call the connect method of the connector class and pass in your details using the following code:

In [ ]:
# Verify that a connection can be made with your database by calling the connection method from the connector class: 
try: 
    connection = connector.connect(
        user="jlomeli", 
        password="Monchit0$", 
        auth_plugin="mysql_native_password",
        # db="littlelemondb",
    )
    print("Connection between MySQL and Python is established.\n")
except:
    print("There was a problem connecting to the MySQL server")

In [44]:
# Create cursor object to communicate with entire MySQL database
cursor = connection.cursor()
print("Cursor is created to communicate with the MySQL using Python.\n")

Cursor is created to communicate with the MySQL using Python.

In [ ]:
# Show databases
cursor.execute("SHOW DATABASES")
for database in cursor:
    print(database)

In [32]:
# Set little_lemon database for use 
cursor.execute("USE littlelemondb")
print("The database littlelemondb is set for use.\n")

The database littlelemondb is set for use.

In [ ]:
# Checking to which database we are connected now
connection.database

### Task 2

In this second task, you now need to query the database to show all tables within the database. 

Having established a connection in the first task, you need to execute a test query to ensure that there are no issues. You can do this by executing, or passing, a generic query that returns a snapshot of the database tables. 

You need to execute the query on the cursor using the code that follows. The cursor, as you should recall, is the bridge through which you can pass queries and return results.

In [37]:
show_tables_query = "SHOW tables" 
cursor.execute(show_tables_query)

InternalError: Unread result found

In [36]:
# Retrieve query results in a variable ‘results’
results = cursor.fetchall()

NoneType

In [ ]:
# Use for loop to print the names of all the tables 
for table in results:
    print(table)

### Task 3

##### Query with table JOIN

For the third and final task, Little Lemon need you to return specific details from your database. They require the full name and contact details for every customer that has placed an order greater than $60 for a promotional campaign. 

You can use the following steps to implement this functionality in your database directory:

### Clean up environment

If cleaning the database is required uncomment command lines

In [ ]:
# If exist, drop the database first 
cursor.execute("DROP DATABASE IF EXISTS littlelemondb")

In [9]:
# Create database and checking all that we have!
# create_database_query = """CREATE DATABASE littlelemondb"""

In [10]:
# cursor.execute(create_database_query)

In [11]:
# use_database_query = "USE little_lemon"

In [12]:
# cursor.execute(use_database_query)

In [13]:
# Checking to which database we are connected now
# connection.database

### Closing the conection

Closing the conection

In [ ]:
# Let's close the cursor and the connection
if connection.is_connected():
    connection.close()
    print("MySQL connection is closed.")
else:
    print("Connection is already closed")

SHOW TABLES FROM `littlelemondb`;
USE `littlelemondb`;

# Populating menuitems table
SELECT * FROM `menuitems`;
INSERT INTO `menuitems` (MenuItemsId, Course, Starter, Dessert, Drink)
VALUES 
(1, 'La Italian pasta', 'a', 'b', 'c'),
(2, 'Le Greek salad', 'a', 'b', 'c'),
(3, 'La Japanese sushi', 'a', 'b', 'c'),
(4, 'Le American sandwidth', 'a', 'b', 'c'),
(5, 'La Mexican taco', 'a', 'b', 'c');
COMMIT;
SELECT * FROM `menuitems`;

# Populating menu table
SELECT * FROM `menu`;
INSERT INTO `menu` (MenuId, Cuisine, MenuName, MenuItemsId)
VALUES 
(1, 'Italian', 'La Italian Dancer', 1),
(2, 'Greek', 'Le Greek Dance', 2),
(3, 'Japanese', 'La Japonais Saks', 3),
(4, 'American', 'Le American Mix', 4),
(5, 'Mexican', 'Le Mexican Mariachi', 5);
COMMIT;
SELECT * FROM `menu`;

# Populating orders table
SELECT * FROM `orders`;
INSERT INTO `orders` (OrderId, Date, Quantity, TotalCost, MenuId)
VALUES 
(1, '2023-01-01', 1, 100, 1),
(2, '2023-02-02', 2, 200, 2),
(3, '2023-03-03', 3, 300, 3),
(4, '2023-04-04', 4, 400, 4),
(5, '2023-05-05', 5, 500, 5);
COMMIT;
SELECT * FROM `orders`;

# Populating customers table
SELECT * FROM `customers`;
INSERT INTO `customers` (CustomerId, Name, Contact)
VALUES 
(1, 'Nachito', '111-111'),
(2, 'Petrita', '222-222'),
(3, 'Marquino', '333-333'),
(4, 'Polinesio', '444-444'),
(5, 'Carambolas', '555-555');
COMMIT;
SELECT * FROM `customers`;

# Populating deliverystatus table
SELECT * FROM `deliverystatus`;
INSERT INTO `deliverystatus` (DeliveryId, Date, Status)
VALUES 
(1, '2023-01-01', 'Yes'),
(2, '2023-02-02', 'No'),
(3, '2023-03-03', 'Incomplete'),
(4, '2023-04-04', 'Yes'),
(5, '2023-05-05', 'No');
COMMIT;
SELECT * FROM `deliverystatus`;

# Populating staff table
SELECT * FROM `staff`;
INSERT INTO `staff` (StaffId, Role, Salary, Name)
VALUES 
(1, 'Manager', 3000.50, 'John Bolas'),
(2, 'Waiter', 1000.10, 'Peter Papitas'),
(3, 'Cashier', 5000.30, 'Mary Fresas'),
(4, 'Bar tender', 4000.40, 'Sobrio Morales'),
(5, 'The Boss', 120000.00, 'Pablo Gold');
COMMIT;
SELECT * FROM `staff`;

# Populating booking table
SELECT * FROM `bookings`;
INSERT INTO `bookings` (BookingsId, Date, TableId, CustomerId, StaffId, DeliveryId, OrderId)
VALUES 
(1, '2023-01-01', 1, 1, 1, 1, 1),
(2, '2023-02-02', 2, 2, 2, 2, 2),
(3, '2023-03-03', 3, 3, 3, 3, 3),
(4, '2023-04-04', 4, 4, 4, 4, 4),
(5, '2023-05-05', 5, 5, 5, 5, 5);
COMMIT;
SELECT * FROM `bookings`;

# Task 1
# In the first task, Little Lemon need you to create a virtual table called OrdersView that focuses on OrderID, 
# Quantity and Cost columns within the Orders table for all orders with a quantity greater than 2. 

CREATE VIEW OrdersView AS SELECT OrderId, Quantity, TotalCost FROM `orders` WHERE Quantity > 2;
SELECT * FROM OrdersView;

# Task 2
# For your second task, Little Lemon need information from four tables on all customers with orders that cost more than $150. 
# Extract the required information from each of the following tables by using the relevant JOIN clause: 

SELECT customers.CustomerId AS 'Customer Id', customers.Name AS 'Full Name', orders.OrderId AS 'Order Id', orders.TotalCost AS Cost, menu.MenuName AS 'Menu Name', menuitems.Course AS 'Course Name'
FROM customers
    INNER JOIN orders
        ON customers.CustomerId = orders.OrderId
    INNER JOIN menu
        ON orders.OrderId = menu.MenuId
    INNER JOIN menuitems
        ON menu.MenuId = menuitems.MenuItemsId
ORDER BY Cost ASC;    

# Task 3
# For the third and final task, Little Lemon need you to find all menu items for which more than 2 orders have been placed. 
# You can carry out this task by creating a subquery that lists the menu names from the menus table for any order quantity with more than 2.

SELECT MenuName
FROM `menu`
WHERE MenuId = ANY (SELECT MenuId FROM `orders` WHERE Quantity > 2);

# Exercise: Create optimized queries to manage and analyze data

# Task 1
# In this first task, Little Lemon need you to create a procedure that displays the maximum ordered quantity in the Orders table. 
SELECT * FROM `orders`;

CREATE PROCEDURE GetMaxQuantity()  
SELECT MAX(Quantity) AS 'Max QUantity in Order'
FROM `orders`;

CALL GetMaxQuantity();

# Task 2
# In the second task, Little Lemon need you to help them to create a prepared statement called GetOrderDetail. 
# This prepared statement will help to reduce the parsing time of queries.
SELECT * FROM `orders`;

PREPARE GetOrderDetail FROM 'SELECT OrderId, Quantity, TotalCost FROM `orders` WHERE OrderId = ?';

SET @id = 1;
EXECUTE GetOrderDetail USING @id;

# Task 3
# Your third and final task is to create a stored procedure called CancelOrder. 
# Little Lemon want to use this stored procedure to delete an order record based on the user input of the order id.

SELECT * FROM `orders`;

CREATE PROCEDURE CancelOrder(IN Id INT)
DELETE FROM `orders` WHERE OrderId = Id;

CALL CancelOrder(5);